<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :firstname, for: "firstNameInput" %>
    <%= form.text_field :firstname, class: "form-control", id: "firstNameInput"%>
  </div>

  <div class="field form-group">
    <%= form.label :lastname, for: "lastNameInput" %>
    <%= form.text_field :lastname, class: "form-control", id: "lastNameInput" %>
  </div>

  <div class="field form-group">
    <%= form.label :email, for: "emailInput" %>
    <%= form.text_field :email, class: "form-control", id: "emailInput", type: "email"%>
  </div>

  <div class="field form-group">
    <%= form.label :role, for: "roleInput" %>
    <%= form.text_field :role, class: "form-control", id: "roleInput"%>
  </div>

  <div class="field form-group">
    <%= form.label :phone, for: "phoneInput" %>
    <%= form.text_field :phone, class: "form-control", id: "phoneInput" %>
  </div>

  <div class="field form-group">
    <%= form.label :birth_date, for: "birthDateInput"  %>
    <%= form.date_select :birth_date, class: "form-control", id: "birthDateInput" %>
  </div>

  <div class="field form-group">
    <%= form.label :start_date, for: "startDateInput" %>
    <%= form.date_select :start_date, class: "form-control", id: "startDateInput" %>
  </div>

  <div class="field form-group">
    <%= form.label :linkedin_url, for: "linkedinInput"  %>
    <%= form.text_field :linkedin_url, class: "form-control", id: "linkedinInput" %>
  </div>

  <div class="field form-group">
    <%= form.label :image, for: "imageFieldInput" %>
    <%= form.file_field :image, class: "form-control-file", id: "imageFieldInput" %>
  </div>

  <div class="field form-group">
    <%= form.label :location_id, for: "locationSelect"  %>
    <%= form.select :location_id, @locations.map{ |l| ["#{l.city}, #{l.country}" , l.id ] }, { prompt: 'Select City', class: 'form-control', id: "locationSelect"} %>
  </div>

  <div class="field form-group">
    <%= form.label :squad_id, for: "squadSelect"  %>
    <%= form.select :squad_id, @squads.map{ |s| ["#{s.name}" , s.id ] }, { prompt: 'Select Squad' , class: 'form-control', id: "squadSelect" } %>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>
