<p id="notice"><%= notice %></p>

<h1>Users</h1>

<!--<select class="form-select" aria-label="Default select example">
  <option selected>Select a city</option>
  <%# @locations.each do |location| %>
    <option value="<%# location.id %>"><%#= "#{location.city}, #{location.country}" %></option>
  <%# end %>
</select>-->

<table class="table table-striped" id="users-table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>Birth date</th>
      <th>Start date</th>
      <th>Linkedin url</th>
      <th>City</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.phone %></td>
        <td><%= user.birth_date %></td>
        <td><%= user.start_date %></td>
        <td><%= user.linkedin_url %></td>
        <td><%= user.location.city %></td>
        <td>
          <%= link_to 'Show', user,class:"btn btn-primary text-white"%> |
          <%= link_to 'Edit', edit_user_path(user),class:"btn btn-info text-white" %> |
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger text-white" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<script>
  $(document).ready(()=>{
      $('#users-table').DataTable();
  })
</script>
